<!-- <h1 id="sampleinterpolation">{{heading}}</h1>
<h2 id="incomeCheck">{{income - expenditure}}</h2>
<h3 id="ternaryCheck">{{income - expenditure > 0 ? 'Profit': 'Loss'}}</h3>
<input id="inputCheck" type="{{metaData.typeValue}}" placeholder="{{metaData.placeholderValue}}">
<h4 id="methodCheck">{{ getName() }}</h4>

<app-property-binding></app-property-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-attribute-binding></app-attribute-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-conditional></app-conditional> -->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-template-outlet></app-template-outlet> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-parent></app-parent> -->
<!-- <app-parent-output></app-parent-output> -->
<app-view-child></app-view-child>

